const PORT = 00000;
MONGO_URL=00000;

SMTP_HOST=000;
SMTP_PORT=000;
SMTP_USER=000;
SMTP_PASSWORD=000;
SMTP_FROM=000;

JWT_SECRET=000;

FRONTEND_DOMAIN=000;

CLOUDINARY_CLOUD_NAME=000;
CLOUDINARY_API_KEY=000;
CLOUDINARY_API_SECRET=000
